.form-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.form-row input{
    padding: 5px;
    border-radius: 5px;
}

.form-row label{
    width: 150px;
    text-align: right;
}

.radio-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-spacer{
    width: 150px;
    text-align: right;
}