p {
    color:blue;
    font-family: 'Times New Roman', Times, serif'
}

h1{
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif'
}

h2{
    color: green;
    font-family: 'Times New Roman', Times, serif'
}