body{
    background-color: beige;
}
fieldset{
    background-color: darkkhaki;
}
legend{
    background-color: grey;
    padding: 10px;
    color: white;
}
.form-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row input{
    padding: 5px;
    border-radius: 5px;
}

.form-row label{
    width: 150px;
    text-align: right;
}

.form-spacer{
    width: 150px;
    text-align: right;
}

.radio-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

header{
    color: saddlebrown;
}

footer{
    color: darkred;
}

@media ONLY screen and (max-width:600px){
    .form-row, .radio-row{
        flex-direction: column;
    }

    .form-row label{
        text-align: left;
    }

    .form-spacer{
        text-align: left;
    }


}