#byuh{
    width: 350px;
    margin: 0;
    border: thin solid black;
    box-shadow: 5px 5px 3px grey;
    transform: rotate(8deg);
}

.btn{
    display: block;
    padding: 10px;
    color:aquamarine;
    background-color: blue;
    width: 110px;
    text-align: center;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.btn:hover{
    background-color: green;
}

#byuh img{
    width: 350px;
}